.imageSection {
  width: 100%;
  height: 25rem;
  position: relative;
}

.main {
  padding: 5rem 2rem;

  > h1 {
    margin-bottom: 1.5rem;
    color: var(--heading-text);
    font-size: 3rem;
    font-weight: 700;
  }

  > div {
    margin-bottom: 1rem;
    color: var(--info-text);

    display: flex;
    gap: 1.5rem;
    align-items: center;

    p {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      time, span {
        font-size: 0.875rem;
        text-transform: capitalize;
      }
    }
  }

  > p {
    color: var(--info-text);
  }
}

.contentSection {
  padding: 4rem 0 3.75rem;
  color: var(--body-text);
  font-size: 1.125rem;
  line-height: 2rem;

  h2 {
    color: var(--heading-text);
    font-size: 2.25rem;
    font-weight: 700;
  }

  p {
    margin: 2rem 0;
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }

  a {
    color: var(--highlight-text);
  }
}
